name: 'GCP Pull Request CI'

on:
  workflow_call:
    inputs:
      event:
        required: true
        type: object
      stg-env:
        required: true
        type: string
      stg-projectId:
        required: true
        type: string
      stg-cli-args:
        required: true
        type: string
      prd-env:
        required: true
        type: string
      prd-projectId:
        required: true
        type: string
      prd-cli-args:
        required: true
        type: string        
    secrets:
      STG_GOOGLE_CREDENTIALS:
        required: true
      PRD_GOOGLE_CREDENTIALS:
        required: true
      token:
        required: true
jobs:
  deploy-stg:
    if: inputs.event.review.state == 'approved'
    name: 'Terraform'
    runs-on: ubuntu-latest

    # Use the Bash shell regardless whether the GitHub Actions runner is ubuntu-latest, macos-latest, or windows-latest
    defaults:
      run:
        shell: bash

    steps:
      # Checkout the repository to the GitHub Actions runner
    - name: Checkout
      uses: actions/checkout@v2

     # Install the latest version of Terraform CLI and configure the Terraform CLI configuration file with a Terraform Cloud user API token
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1
      with:
        terraform_version: 1.0.10

     # Auth Google service account
    - id: 'auth'
      uses: 'google-github-actions/auth@v0'
      with:
        credentials_json: '${{ secrets.STG_GOOGLE_CREDENTIALS }}'

      # Init SDK
    - name: 'Set up Cloud SDK'
      uses: 'google-github-actions/setup-gcloud@v0'

      # On push to main, build or change infrastructure according to Terraform configuration files
      # Note: It is recommended to set up a required "strict" status check in your repository for "Terraform Cloud". See the documentation on "strict" required status checks for more information: https://help.github.com/en/github/administering-a-repository/types-of-required-status-checks
    # Clean env

    - name: Terraform Clean All
      run: yarn tfclean

    - name: Terraform Init
      run: export TF_CLI_ARGS_init=${{inputs.stg-cli-args}} && cd terraform && terraform init

    - name: Terraform Apply
      run: cd terraform && TF_VAR_env_name='${{ inputs.stg-env }}' TF_VAR_project_id='${{ inputs.stg-projectId }}' terraform apply -auto-approve

  deploy-prod:
    needs: deploy-stg
    if: contains( inputs.event.pull_request.labels.*.name, 'deploy-prd') && inputs.event.review.state == 'approved'
    name: 'Terraform'
    runs-on: ubuntu-latest

    # Use the Bash shell regardless whether the GitHub Actions runner is ubuntu-latest, macos-latest, or windows-latest
    defaults:
      run:
        shell: bash

    steps:
      # Checkout the repository to the GitHub Actions runner
    - name: Checkout
      uses: actions/checkout@v2

     # Install the latest version of Terraform CLI and configure the Terraform CLI configuration file with a Terraform Cloud user API token
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1
      with:
        terraform_version: 1.0.10

     # Auth Google service account
    - id: 'auth'
      uses: 'google-github-actions/auth@v0'
      with:
        credentials_json: '${{ secrets.PRD_GOOGLE_CREDENTIALS }}'

      # Init SDK
    - name: 'Set up Cloud SDK'
      uses: 'google-github-actions/setup-gcloud@v0'

      # On push to main, build or change infrastructure according to Terraform configuration files
      # Note: It is recommended to set up a required "strict" status check in your repository for "Terraform Cloud". See the documentation on "strict" required status checks for more information: https://help.github.com/en/github/administering-a-repository/types-of-required-status-checks
    # Clean env

    - name: Terraform Clean All
      run: yarn tfclean

    - name: Terraform Init
      run: export TF_CLI_ARGS_init=${{inputs.prd-cli-args}} && cd terraform && terraform init

    - name: Terraform Apply
      run: cd terraform && TF_VAR_env_name='${{ inputs.prd-env }}' TF_VAR_project_id='${{ inputs.prd-projectId }}' terraform apply -auto-approve

  merge:
    needs: deploy-prod
    if: contains( inputs.event.pull_request.labels.*.name, 'deploy-prd') && inputs.event.review.state == 'approved'
    runs-on: ubuntu-latest
    steps:
      # Checkout the repository to the GitHub Actions runner
      - name: Checkout
        uses: actions/checkout@v2

      # https://github.com/juliangruber/merge-pull-request-action
      - name: Merge Pull Request
        uses: juliangruber/merge-pull-request-action@v1
        with:
          github-token: ${{ secrets.token }}
          number: ${{ inputs.event.pull_request.number }}
          method: squash
      - name: Delete PRs head branches
        uses: dawidd6/action-delete-branch@v3
        with:
          github_token: ${{ secrets.token }}
          numbers: ${{ inputs.event.pull_request.number }}

