name: 'GCP Pull Request CI'

on:
  workflow_call:
    inputs:
      stg-env:
        required: true
        type: string
      prd-env:
        required: true
        type: string     
      deploy-prod:
        required: true
        type: boolean
      pull-request-number:
        required: true
        type: string
    secrets:
      STG_GOOGLE_CREDENTIALS:
        required: true
      PRD_GOOGLE_CREDENTIALS:
        required: true
      PAT:
        required: true
      token:
        required: true
      stg-projectId:
        required: true
      stg-cli-args:
        required: true
      prd-projectId:
        required: true
      prd-cli-args:
        required: true
jobs:
  deploy-stg:
    name: 'Terraform'
    runs-on: ubuntu-latest

    # Use the Bash shell regardless whether the GitHub Actions runner is ubuntu-latest, macos-latest, or windows-latest
    defaults:
      run:
        shell: bash

    steps:
      # Checkout the repository to the GitHub Actions runner
    - name: Checkout
      uses: actions/checkout@v2
      with:
        persist-credentials: false
    - run: echo @posigensolar:registry=https://npm.pkg.github.com > ./.npmrc && echo //npm.pkg.github.com/:_authToken=${{ secrets.token }} >> ./.npmrc
     # Install the latest version of Terraform CLI and configure the Terraform CLI configuration file with a Terraform Cloud user API token
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1
      with:
        terraform_version: 1.0.10

     # Auth Google service account
    - id: 'auth'
      uses: 'google-github-actions/auth@v0'
      with:
        credentials_json: '${{ secrets.STG_GOOGLE_CREDENTIALS }}'

      # Init SDK
    - name: 'Set up Cloud SDK'
      uses: 'google-github-actions/setup-gcloud@v0'

      # On push to main, build or change infrastructure according to Terraform configuration files
      # Note: It is recommended to set up a required "strict" status check in your repository for "Terraform Cloud". See the documentation on "strict" required status checks for more information: https://help.github.com/en/github/administering-a-repository/types-of-required-status-checks

    - name: Build if needed
      run: npm run build --if-present

    # Clean env
    - name: Terraform Clean All
      run: yarn tfclean

    # Init
    - name: Terraform Init
      run: export TF_CLI_ARGS_init=${{secrets.stg-cli-args}} && cd terraform && terraform init

    # Apply
    - name: Terraform Apply
      run: cd terraform && TF_VAR_env_name='${{ inputs.stg-env }}' TF_VAR_project_id='${{ secrets.stg-projectId }}' terraform apply -auto-approve

  deploy-prod:
    needs: deploy-stg
    if: inputs.deploy-prod
    name: 'Terraform'
    runs-on: ubuntu-latest

    # Use the Bash shell regardless whether the GitHub Actions runner is ubuntu-latest, macos-latest, or windows-latest
    defaults:
      run:
        shell: bash

    steps:
      # Checkout the repository to the GitHub Actions runner
    - name: Checkout
      uses: actions/checkout@v2

      # PAT
    - run: git config --global url."https://${{ secrets.PAT }}@github.com/".insteadOf ssh://git@github.com/

     # Install the latest version of Terraform CLI and configure the Terraform CLI configuration file with a Terraform Cloud user API token
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1
      with:
        terraform_version: 1.0.10

     # Auth Google service account
    - id: 'auth'
      uses: 'google-github-actions/auth@v0'
      with:
        credentials_json: '${{ secrets.PRD_GOOGLE_CREDENTIALS }}'

      # Init SDK
    - name: 'Set up Cloud SDK'
      uses: 'google-github-actions/setup-gcloud@v0'

      # On push to main, build or change infrastructure according to Terraform configuration files
      # Note: It is recommended to set up a required "strict" status check in your repository for "Terraform Cloud". See the documentation on "strict" required status checks for more information: https://help.github.com/en/github/administering-a-repository/types-of-required-status-checks
      
      # Build if needed
    - name: Build if needed
      run: npm run build --if-present
   
    # Clean env

    - name: Terraform Clean All
      run: yarn tfclean

    - name: Terraform Init
      run: export TF_CLI_ARGS_init=${{inputs.prd-cli-args}} && cd terraform && terraform init

    - name: Terraform Apply
      run: cd terraform && TF_VAR_env_name='${{ inputs.prd-env }}' TF_VAR_project_id='${{ secrets.prd-projectId }}' terraform apply -auto-approve

  merge:
    needs: deploy-prod
    if: inputs.deploy-prod
    runs-on: ubuntu-latest
    steps:
      # Checkout the repository to the GitHub Actions runner
      - name: Checkout
        uses: actions/checkout@v2

      # https://github.com/juliangruber/merge-pull-request-action
      - name: Merge Pull Request
        uses: juliangruber/merge-pull-request-action@v1
        with:
          github-token: ${{ secrets.token }}
          number: ${{ inputs.pull-request-number }}
          method: squash
      - name: Delete PRs head branches
        uses: dawidd6/action-delete-branch@v3
        with:
          github_token: ${{ secrets.token }}
          numbers: ${{ inputs.pull-request-number }}

